body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pw-output {
  margin: 1rem 0;
}

#quote {
  margin: 2rem 0;
}

#btn-generate {
  margin: 0.5rem 0;
}

#options {
  margin: 1rem 0;
}
